.back_option{
    display: inline-block; 
}

.grid-continer{
    width:25cm;
    height: 15cm;
    margin-left: 4cm;
    margin-right:4cm;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    border: 2px solid;
    background-color: white;
}

.grid-items{
    flex:1;
    padding: 20px;
    width: 10cm;
    height: 6cm;
}

.grid-items img{
    width: auto;
    height: 5cm;
}

@media screen and (max-width: 600px){
    h1{
        font-size: 45px;
    }
}
