* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  direction: rtl;
  background-color: rgb(224, 245, 245);
  background-image: url(bunga.jpg);
  background-size: cover;
  background-attachment: fixed;
}

p {
  color: white;
}


header {
  text-align: center;
  color: rgb(52, 92, 92);
  width: 100%;
  height: 15%;
  margin: 0;
  line-height: 150px;
  background-color: #8dd3d3;
}

header h1 {
  text-align: center;
  font-size: 1.3cm;
}