* {
  box-sizing: border-box;
}

.div{
  display: flex;
}

.hellotext {
  width: 50%;
  margin: 50px auto;
  height: auto;
  text-align: center;
  line-height: 10px;
  font-size: 20px;
  color: rgb(52, 92, 92);
  flex: 1;
}

#h1 {
  top: 0%;
}


.btn {
  background-color: rgb(52, 92, 92);
  color: white;
  padding: 10px 80px;
  border: none;
  opacity: 0.8;
  border: 1px #b7e6e6 solid;
}

.btn:hover {
  background-color: #9de031;

}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 50px;
}

