* {
  box-sizing: border-box;
}

.div{
  display: flex;
}

.hellotext {
  width: 50%;
  margin: 50px auto;
  height: auto;
  text-align: center;
  line-height: 10px;
  font-size: 20px;
  color: rgb(52, 92, 92);
  flex: 1;
}

#h1 {
  top: 0%;
}

/* Button used to open login and regisration */
.login-button {
  background-color: #555;
  color: white;
  padding: 16px 100px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  left: 25%;
  width: 280px;
  bottom: 20%;
}

.registration-button {
  background-color: #555;
  color: white;
  padding: 16px 100px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 25%;
  width: 280px;
  bottom: 20%;
}