* {
  box-sizing: border-box;
}

.div{
  display: flex;
}

.hellotext {
  width: 50%;
  margin: 50px auto;
  height: auto;
  text-align: center;
  line-height: 10px;
  font-size: 20px;
  color: rgb(52, 92, 92);
  flex: 1;
}

#h1 {
  top: 0%;
}

.buttons{
  display: flex;
  justify-content: center;  
  align-items: center;  
}

/* Button used to open login and regisration */
.buttons.login-button {
  background-color: rgb(62, 149, 230);
  color: white;
  padding: 16px 100px;
  border: none;
  opacity: 0.8;
  flex: 1;
}

.buttons.registration-button {
  background-color: rgb(62, 149, 230);
  color: white;
  padding: 16px 100px;
  border: none;
  opacity: 0.8;
  flex: 1;
}
