h2 {
    text-align: center;
}

.div_form {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

form ul {
    padding-right: 0;
}

form li {
    list-style: none;
    padding-bottom: 20px;
    display: flex;
}

form li label {
    padding-left: 5px;
}

form li input,
textarea {
    flex: 1;
}

.list{
bottom: 100px;
}

form li a {
    background-color: rgb(146, 146, 146);
    border: 1px solid black;
    color: white;
    text-align: center;
    flex: 0.4;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    bottom: 50px;
}

#_checkbox {
    flex: none;
    padding-left: 5px;
}

#submit {
    flex: 0.4;
    margin-right: auto;
    margin-left: auto;
}


.btn {
    background-color: rgb(52, 92, 92);
    color: white;
    padding: 10px 80px;
    border: none;
    opacity: 0.8;
    flex: 1;
    border: 1px #b7e6e6 solid;
}

.btn:hover {
    background-color: #47cf4e;

}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 50px;
}